img
{
    width: 250px;
    height: 250px;
}
.logo{
    width: 250px;
    height: 50px;
}


:root {
    --primary-color: white;      
    --secondary-color: #F3C178;   
    --background-color: #f9f9f9;  
    --text-color: black;           
    --button-color: #FE5E41;      
    --button-hover-color: #F3C178; 
    --card-bg-color: #ffffff;    
    --shadow-color: rgba(0, 0, 0, 0.1); 
    --font-family: Arial, sans-serif; 
}


body {
    margin: 0;
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
    
}

nav {
    background-color: var(--primary-color);
    padding: 10px 20px;
    box-shadow: 0 2px 5px var(--shadow-color);

}

nav ul {
    list-style: none;
    margin: 0;
    padding: 30px;
    display: flex;
    justify-content: center;

}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: var(--card-bg-color); /* White text */
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
    color: black;
}

nav ul li a:hover {
    color: var(--secondary-color); /* Yellow on hover */
}

/* Main Content */
main {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background-color: var(--card-bg-color);
    box-shadow: 0 4px 8px var(--shadow-color);
    border-radius: 8px;
}

/* Heading and Button */
h1 {
    font-size: 24px;
    color: var(--text-color);
    text-align: center;
    
}

button {
   
  
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: var(--card-bg-color); /* White text */
    background-color: var(--button-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--button-hover-color); 
}



.cocktail-card {
display: flex;
flex-direction: column;
    width: 350px;
   
    background-color: #fff; 
    border-radius: 10px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
    overflow: hidden; 
    margin: 20px; 
    transition: transform 0.3s ease; 
padding: 5%;
align-items: center;
}

.cocktail-card:hover {
    transform: scale(1.05); 
}

.cocktail-card li {
    list-style: none; 
    padding: 15px; 
    text-align: center; 
}

.cocktail-card .see-more {
    display: block;
    margin-top: 10px ;
  
}

.cocktail-card .see-more:hover {
    background-color: var(--button-hover-color); 
}

.cocktail-card .cocktail-img {
    width: 100%; 
    height: auto; 
    border-radius: 10px; 
    transition: transform 0.3s ease; 
}

.cocktail-card .cocktail-img:hover {
    transform: scale(1.1); 
}

#random-cocktail
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
img
{
    border-radius: 1%;
}

#fav
{
    background-color: transparent;
    color: gray;
    width: 50px;
    height: 50px;
}

.fav-exist::before
{
content: "-";
font-size: 26px;
color: red;

}
.fav::before
{
content: "+";
font-size: 26px;
color:  #00A878;
}

.see-more
{
    width: 100px;
   padding: 10px;
   background-color:  var(--button-color);
   text-decoration: none;
   color: var(--background-color);
   text-align: center;
   border-radius: 2px;
   
} 
.see-more:hover
{
 
   background-color:  var(--button-hover-color);
   font-size: larger;
  
   
} 


#details-content
{
    display: flex;
    flex-direction: column;
  

  width: 100%;
  height: 100%;
  padding: 5%;


   
}
p
{
    border-bottom: 1px solid gainsboro;
    padding: 5%;
}

#details-content h2
{
    width: 20%;
    border-bottom: 1px solid gainsboro;
    padding: 5%;
}
#details-content button
{
    margin-top: 2%;
   align-items: center;
   align-self: center;
   align-content: center;
}


#search-form 
{
display: flex;



}
h1
{
    border-bottom: 1px solid gainsboro;
    padding: 5%;
}

ul
{
list-style: none;

}